library/Bildelspriser/price_list.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	    xmlns="http://bildelspriser.dk"
	    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://bildelspriser.dk" 
		elementFormDefault="qualified">

	<xs:complexType name="car_model_type">
		<xs:attribute name="car_model_name" />
	</xs:complexType>

   	<xs:complexType name="car_make_type">
    	<xs:choice minOccurs="1" maxOccurs="unbounded">
   				<xs:element name="car_model" type="car_model_type">
    			</xs:element>			
   		</xs:choice>
   		<xs:attribute name="car_make_name" />	    	
   	</xs:complexType>

   	<xs:complexType name="spare_part_price_type">
   		<xs:attribute name="name" type="xs:string">
   			<xs:annotation>
   				<xs:documentation>
   					Name of the spare part e.g "Tændrør". This should
   					not contain Car Makes or Car Models if it is
   					generic parts.
   				</xs:documentation>
   			</xs:annotation>
   		</xs:attribute>
   		<xs:attribute name="price_inc_vat" type="xs:decimal" use="required" >
   			<xs:annotation>
   				<xs:documentation>
   					The price of the good including VAT, excluding
   					shipping costs. e.g. "29" or "39,90"
   					Must not include currency information i.e. EUR or DKK
   				</xs:documentation>
   			</xs:annotation>
   		</xs:attribute>
   		<xs:attribute name="description" type="xs:string"></xs:attribute>
   		<xs:attribute name="spare_part_url" type="xs:anyURI" use="required"  >
   			<xs:annotation>
   				<xs:documentation>
   					Link to web page, showing either the item, where it is posible to order, or
   					  i.e. "http://myshop.dk/catalogue/dk2832312.html" 
   					  or just "/catalogue/dk2832312.html" => asumming the host name above.
   					  
   					
   					a link to a web page, informing the user how to order 
   					   i.e. "http://myshop.dk/ordering_instructions.html"   					
   				</xs:documentation>
   			</xs:annotation>
   		</xs:attribute>
   		<xs:attribute name="spare_part_image_url" type="xs:anyURI" >
   			<xs:annotation><xs:documentation>Link to a picture, of the part</xs:documentation></xs:annotation>   			
   		</xs:attribute>
   		<xs:attribute name="part_placement" type="xs:string">
   			<xs:annotation>
   				<xs:documentation>Informing where the part belongs on the car. 
   					I.e. Højre, Venstre, Foreste, Bagerste, Øverste, Nederste.
   					Note: This is free text.			</xs:documentation>
   			</xs:annotation>
   		</xs:attribute>
   		<xs:attribute name="supplier_part_number" type="xs:string" use="required" ></xs:attribute>
   		<xs:attribute name="original_part_number" type="xs:string">
   			<xs:annotation>
   				<xs:documentation>
   					This would be the number from the car manufacturer i.e. Volvo or Audi's part number</xs:documentation>
   			</xs:annotation>
   		</xs:attribute>
   		<xs:attribute name="producer_make_name" type="xs:string">
   			<xs:annotation><xs:documentation>This would be the manufacturer of the part. i.e. Bosch, Bosal or similar.</xs:documentation></xs:annotation>
   		</xs:attribute>
   		<xs:attribute name="producer_part_number" type="xs:string">
   		<xs:annotation><xs:documentation>This would be the part number used by e.g. Bosch or Bosal</xs:documentation></xs:annotation></xs:attribute>
   	</xs:complexType>

    <xs:element name="car_make" type="car_make_type">
    </xs:element>

    <xs:element name="spare_part_price" type="spare_part_price_type">
    </xs:element>

   	<xs:element name="price_list" >
    	<xs:complexType>
    		<xs:sequence minOccurs="1" maxOccurs="unbounded" >
    			<xs:element ref="spare_part_price" ></xs:element>
    			<xs:element ref="car_make"  ></xs:element>
    		</xs:sequence>
          </xs:complexType>
    </xs:element>

    	



</xs:schema>